apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: sepes-web
spec:
  environments:
    - name: prod
      build:
        from: master
    - name: dev
      build:
        from: develop
  components:
    - name: frontend
      ports:
        - name: http
          port: 3000
      secrets:
        - REACT_APP_INSTRUMENTATION_KEY
      publicPort: http
      environmentConfig:
        - environment: prod
          variables: 
            REACT_APP_SEPES_REDIRECT_URI: "https://frontend-sepes-web-prod.radix.equinor.com/"
            REACT_APP_SEPES_BASE_API_URL: "https://backend-sepes-api-prod.radix.equinor.com/"
            REACT_APP_SEPES_AUTHORITY: "https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
            REACT_APP_SEPES_CLIENTID: "e90cbb61-896e-4ec7-aa37-23511700e1ed"
          replicas: 2
          monitoring: true
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "400m"
        - environment: dev
          variables: 
            REACT_APP_SEPES_REDIRECT_URI: "https://frontend-sepes-web-dev.radix.equinor.com/"
            REACT_APP_SEPES_BASE_API_URL: "https://backend-sepes-api-dev.radix.equinor.com/"
            REACT_APP_SEPES_AUTHORITY: "https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
            REACT_APP_SEPES_CLIENTID: "e90cbb61-896e-4ec7-aa37-23511700e1ed"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "200m"
