@import './equinor-font.scss';
@import './equinor-colors.scss';

html * {
    font-family: Equinor !important;
}
html {
    background-color: #f7f7f7;
}
#root {
    background-color: #f7f7f7;
}

body {
    overflow: visible !important; // Override so EDS scrim does not disable scrolling
}
