@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-regular/Equinor-Regular.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-regular/Equinor-Regular.woff) format('woff');
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-italic/Equinor-Italic.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-italic/Equinor-Italic.woff) format('woff');
    font-style: italic;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-light/Equinor-Light.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-light/Equinor-Light.woff) format('woff');
    font-weight: 200;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-lightitalic/Equinor-LightItalic.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-lightitalic/Equinor-LightItalic.woff) format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-bold/Equinor-Bold.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-bold/Equinor-Bold.woff) format('woff');
    font-weight: 700;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-bolditalic/Equinor-BoldItalic.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-bolditalic/Equinor-BoldItalic.woff2) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-medium/Equinor-Medium.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-medium/Equinor-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: Equinor;
    src: url(../assets/fonts/equinor/equinor-mediumitalic/Equinor-MediumItalic.woff2) format('woff2'),
        url(../assets/fonts/equinor/equinor-mediumitalic/Equinor-MediumItalic.woff2) format('woff');
    font-weight: 500;
    font-style: italic;
}
