.coredev-dropdown {
    display: inline-block;
    
    span {
        margin-left: 8px;
    }
  
    ul {
        padding: 1px;
        margin: 0px;
        position: absolute;
        z-index: 100;
        width: 220px;
        -webkit-box-shadow: 3px 8px 10px -3px rgba(0,0,0,0.58);
        -moz-box-shadow: 3px 8px 10px -3px rgba(0,0,0,0.58);
        box-shadow: 3px 8px 10px -3px rgba(0,0,0,0.58);
  
        li {
            list-style: none;
            background: #FFFFFF;
            padding: 1px;
            cursor: pointer;
            
            &:hover {
                background: #E6FAEC;
                color: #007079;
            }
        }
    }
    
    .fa-arrow-down, .fa-arrow-up {
        margin-left: auto;
        margin-right: 8px;
    }
    
    .fa-arrow-down:hover, .fa-arrow-up:hover {
        cursor: pointer;
    }
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }