
.container {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255, 255, 255, .5);
    pointer-events: none;
    transition: opacity .2s;
    opacity: 0.5;
    z-index: 9999;
}