div.rendered-react-keyed-file-browser div.action-bar ul.item-actions li {
    display: inline-block;
    margin: 0;
}

div.rendered-react-keyed-file-browser div.action-bar {
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

div.rendered-react-keyed-file-browser div.action-bar input[type='search'] {
    display: block;
    flex-grow: 2;
    max-width: 300px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1em;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #ddd;
}

div.rendered-react-keyed-file-browser div.action-bar ul.item-actions {
    display: block;
    flex-grow: 1;
    max-width: 64px;
    margin-left: 10px;
    white-space: nowrap;
    margin-top: 2px;
}
