@font-face {
    font-family: Equinor;
    src: url(./assets/fonts/equinor-regular/Equinor-Regular.woff2) format('woff2'),
         url(./assets/fonts/equinor-regular/Equinor-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Equinor;
    text-align: center;
    font-size: 16pt;
  }
  
  h1 {
    
    margin-bottom: 2rem;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  a {
    color: #0077CC;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    width: 250px;
    height: 150px;
    padding: 15px;
  }