name: Cypress Test

on:
  push:
    branches:
      - build/cypress_pipeline
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      # Azure login for CLI and Powershell AZ
      - name: Azure login
        shell: pwsh
        env:
          clientId: ${{ secrets.DEV_AZURE_CREDENTIALS_CLIENT_ID }}
          clientSecret:  ${{ secrets.DEV_AZURE_CREDENTIALS_CLIENT_SECRET }}
          tenantId: ${{ secrets.AZURE_TENANT_ID }}
          azureSubscriptionId: ${{ secrets.DEV_AZURE_SUBSCRIPTION_ID }}
        run: |
          az login --service-principal -u $Env:clientId --password "$Env:clientSecret" --tenant $Env:tenantId
          az account set -s "$Env:azureSubscriptionId"

      - uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: ${{ secrets.AZURE_KEYVAULT_DEV_NAME }}
          secrets: 'kvcytest'  # comma separated list of secret keys that need to be fetched from the Key Vault 
        id: myGetSecretAction
      
