name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_DEV_CREDENTIALS }}

      - name: Retrieve token
        id: id-token
        run: |
          TOKEN=`pwsh ./.github/scripts/GetAccessToken.ps1 ${{ secrets.MOCK_USER_CLIENT_ID }} ${{ secrets.AZURE_TENANT_ID }} ${{ secrets.MOCK_USER_SECRET }} ${{ secrets.MOCK_USER_SCOPE }}`
          echo "::set-output name=TOKEN::$TOKEN"
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        env:
          CYPRESS_AccessToken: ${{ steps.id-token.outputs.TOKEN }}
          cyAccessToken: ${{ steps.id-token.outputs.TOKEN }}
          REACT_APP_SEPES_API_URL: https://backend-sepes-api-dev.radix.equinor.com/
          REACT_APP_SEPES_BASE_API_URL: https://backend-sepes-api-prod.radix.equinor.com/
          API_URL: https://backend-sepes-api-dev.radix.equinor.com/
          REACT_APP_INSTRUMENTATION_KEY: ecc4b596-05ae-4d7b-806f-69c3fa7b15d5
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm start
          spec: cypress/e2e/quickRunningTests/**
          config-file: cypress.config.ts

      - name: Save screenshots if failure
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Save videos if failure
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos

          ## Add steps for documentation videos
          ## Add steps for long running tests
