name: Tests

on:
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: npx react-scripts test --coverage
      uses: stefanoeb/jest-action@1.0.3
      with:
        jestArgs: src/tests/unit_test
    - name: check
      run: dir jest-coverage
      
    - name: Coverage report
    if: always()
    uses: artiomtr/jest-coverage-report-action@v1.1
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
      test_script: npx react-scripts test -- --coverage
      #  test_script: npx react-scripts test -- --coverage --collectCoverageFrom=**/src/tests/unit_test/**/*.tsx
      #"collectCoverageFrom":["src/**/*.{js,jsx,ts,tsx}"
#     - name: Coverage report
#       if: always()
#       uses: tanmen/jest-reporter@v1.1
#       with:
#         action-name: npm test -- --coverage
#         result-file: ./jest-coverage/coverage-final.json
#         github-token: ${{ secrets.GITHUB_TOKEN }}

#     - name: Coverage report
#       if: always()
#       uses: tanmen/jest-reporter@v1.1
#       with:
#         action-name: npm test -- --coverage
        result-file: ./jest-coverage/coverage-final.json
        github-token: ${{ secrets.GITHUB_TOKEN }}
        
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
