name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: npx react-scripts test --outputFile=jest-coverage
      uses: stefanoeb/jest-action@1.0.3
      with:
        jestArgs: src/tests/unit_test
    - name: Coverage report
      if: always()
      uses: tanmen/jest-reporter@v1.1
      with:
        action-name: npm test -- --coverage --outputFile=jest-coverage
        result-file: jest-coverage/coverage-finale.json
        github-token: ${{ secrets.GITHUB_TOKEN }}
        
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
