on: [pull_request]

jobs:
    custom_test:
        runs-on: ubuntu-latest
        name: Test locally using act
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Test coverage
              uses: ArtiomTr/jest-coverage-report-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  test_script: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"] --coverageReporters="text" --coverageReporters="text-summary" --silent --ci




# name: 'coverage'
# on:
#     pull_request:
#         branches:
#             - develop
# jobs:
#     coverage:
#         runs-on: ubuntu-latest
#         env:
#             CI_JOB_NUMBER: 1
#         steps:
#             - uses: actions/checkout@v2
#             - uses: artiomtr/jest-coverage-report-action@v1.1
#               with:
#                   github_token: ${{ secrets.GITHUB_TOKEN }}
#                   test_script: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"] --coverageReporters="text" --coverageReporters="text-summary" --silent --ci
#                   #   threshold: 80 # optional parameter

#-------------

# on:
#   pull_request:
#     branches: [ master, develop ]

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - name: Coverage report
#       if: always()
#     - uses: actions/checkout@v1 
#     - uses: artiomtr/jest-coverage-report-action@v1.1
#       with:
#         github_token: ${{ secrets.GITHUB_TOKEN }}
#         test_script: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"]
#       env:
#         CI_JOB_NUMBER: 1
#     - uses: actions/checkout@v2
#     - name: npx react-scripts test --coverage
#       uses: stefanoeb/jest-action@1.0.3
#       with:
#         jestArgs: src/tests/unit_test
#     - name: check
#       run: dir jest-coverage
      
#     - name: Coverage report
#       if: always()
#       uses: raulanatol/jest-coverage-comment-action@v1.0.1
#       with:
#         github-token: ${{ secrets.GITHUB_TOKEN }}
#         jest-command: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"]
      
#     - name: Coverage report
#       if: always()
#       uses: mattallty/jest-github-action@v1
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       with:
#         test-command: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"]
        
#     - name: Coverage report2
#       if: always()
#       uses: ziishaned/jest-reporter-action@v0.0.1
#       with:
#         github-token: ${{ secrets.GITHUB_TOKEN }}
#         test-command: npx react-scripts test --collectCoverageFrom:["src/**/*.{ts,tsx}"]


      #  test_script: npx react-scripts test -- --coverage --collectCoverageFrom=**/src/tests/unit_test/**/*.tsx
      #"collectCoverageFrom":["src/**/*.{js,jsx,ts,tsx}"
#     - name: Coverage report
#       if: always()
#       uses: tanmen/jest-reporter@v1.1
#       with:
#         action-name: npm test -- --coverage
#         result-file: ./jest-coverage/coverage-final.json
#         github-token: ${{ secrets.GITHUB_TOKEN }}

#     - name: Coverage report
#       if: always()
#       uses: tanmen/jest-reporter@v1.1
#       with:
#         action-name: npm test -- --coverage
