name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: npx react-scripts test
      uses: stefanoeb/jest-action@1.0.3
      with:
        jestArgs: src/tests/unit_test
    - name: Coverage report
      if: always()
      uses: RedaktionsNetzwerk-Deutschland/action-jest-reporter@v1.0.0
      with:
        test-command: "npm test -- --coverage"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
